/*below is me making all text the desired font*/

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: pink;
    display: flex;
}

.logoLinksFlex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

nav ul {
    display: flex; 
}

.WordsinHeaderFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.logoimg2 {
	width: 60px;
	
    
}

#Headerh1 {
    
    color: aliceblue;
    
    
    
    
}

#HeaderSignup {
    color: aliceblue;
    font-weight: bold;
    
    
    
}

a {
    text-decoration: none; 
    color: aliceblue; 
}



nav li {
    margin-left: 15px; 
}


ul {
    list-style: none;
}


/*-------------------------------------------------------------------------------------*/


#section1_H2 {
    text-align: center; /* Center the heading */
    
}

.image-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.image-wrapper {
    margin: 10px; 
    text-align: center; 
}
/*------------------------------------------------------------------------------------*/


#section2 {
    background-color: lightslategray;
}

#Section2_H2 {
    text-align: center;
}


#quoteP {
    text-align: center;
}

#guy_who_said_it {
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
}
/*------------------------------------------------------------------------------------------*/


#section3 {
    padding-top: 20px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#section3_P_1 {
    color: white;
}


#section3_P_2 {
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
	