@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
    list-style-type: none;
}

/* General styling for all links */
a {
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding */
    color:gray;
}

/* Style for left links */
.left-links {
    display: flex; /* Use flexbox */
    justify-content: flex-start;
    
}

/* Style for right links */
.right-links {
    display: flex; /* Use flexbox */
    
    justify-content: flex-end;
}

/* Style for links within left and right sections */
.left-links li,
.right-links li {
    margin-right: 5px; /* Add margin between links */

}

.footer {
    background-color: #eeeeee;
    display: flex;
    margin-top: 200px;
}

.content {
    display: flex;
    align-items: center;
    margin-right: 50px;
}